html {
   font-family: "Poppins", sans-serif;
   font-size: 16px;
}

/* CSS for header */

header {
   display: flex;
   justify-content: space-between;
   max-height: 10rem;
   z-index: 100;
   background-color: #f8f4ef;
   border: 1px solid gray;
   padding-top: 1rem;
   padding-bottom: 1rem;
}

header .logo {
   max-height: 7rem;
   max-width: 12rem;
   margin-left: 1rem;
}

header .navigation ul {
   display: flex;
   list-style: none;
   justify-content: right;
   margin-right: 1rem;
}

header .navigation li {
   padding: 1.5rem;
   font-size: 1.25rem;
}

header .navigation li a {
   color: black;
   text-decoration: none;
   font-weight: bold;
}

@media screen and (max-width: 480px) {
   header {
      height: 20rem;
      padding-top: 0rem;
      padding-bottom: 0rem;
   }
   
   header .logo {
      max-width: 16rem;
      max-height: 11rem;
      margin: auto;
      display: flex;
      justify-content: center;
   }

   header .navigation ul {
      display: none;
      position: absolute;
   }
   
   header .navigation li {
      display: none;
      position: absolute;
   }
}

@media screen and (max-width: 768px) {
   header {
      display: flex;
      flex-direction: column;
   }

   header .logo {
      margin: auto;
   }

   header .navigation ul {
      display: flex;
      justify-content: space-around;
      margin: 1rem auto;
      padding-left: 0px;
   }

   header .navigation li {
      padding: 0px;
   }
}

/* CSS for Banner Section */

#banner {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   height: 40rem;
   background-image: url("Best Days Ever BANNER.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

#banner .container {
   padding: 7rem 30rem;
   display: block;
   background-color: white;
   opacity: .7;
   flex: 1 1 0;
}

#banner .text {
   position: absolute;
   padding: 1rem;
   font-family: "Great Vibes";
   font-size: 8.5rem;
   z-index: 100;
   flex: 1 1 0;
}

@media screen and (max-width: 768px) {
   #banner {
      display: flex;
      align-items: center;
   }
   
   #banner .container {
      padding: 5rem;
   }
   
   #banner .text {
      font-size: 6rem;
   }
}

@media screen and (max-width: 480px) {
   #banner {
      display: flex;
      align-items: center;
   }
   
   #banner .container {
      padding: 20rem;
      opacity: 0.4;
   }
   
   #banner .text {
      font-size: 4rem;
   }
}

/* CSS for Speeches and Media Secttion */
#speeches-and-media {
   display: flex;
   padding-top: 3rem;
}

#speeches-and-media .groom {
   display: flex;
   margin: 3rem;
}

#speeches-and-media img {
   max-width: 100%;
   height: auto;
}

#speeches-and-media h2 {
   text-align: center;
}

#speeches-and-media a {
   color: #000;
   text-decoration: none;
}

@media screen and (max-width: 480px) {
   #speeches-and-media {
      flex-direction: column;
   }
}

/* CSS for Testimony Section */

#testimonies {
   display: flex;
   justify-content: space-around;
}

#testimonies .container{
   margin-top: 3rem;
}

#testimonies .photo {
   width: 100%;
   height: auto;
}

#testimonies h2 {
   text-align: center;
}

#testimonies a {
   color: black;
   text-decoration: none;
}

@media screen and (max-width: 480px) {
   #testimonies {
      flex-direction: column;
   }

   #testimonies .container {
      margin-top: 0px;
   }
}


/* CSS for footer */

footer {
   border: 1px solid gray;
   display: flex;
   justify-content: space-around;
   background-color: #f8f4ef;
   padding-top: 1rem;
   padding-bottom: 1rem;
}

footer .address, .contact, .follow {
   margin: 1rem;
}

footer .logo {
   max-height: 15rem;
   max-width: 20rem;
}

footer a {
   color: #000;
   text-decoration: none;
}

footer .icon {
   max-height: 3rem;
   max-width: 8rem;
}

@media screen and (max-width: 768px) {
   footer {
      flex-direction: column;
      align-items: center;
   }

   footer .address, .contact{
      width: 75%;
   }

   footer .follow {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

}

@media screen and (max-width:480px) {
   footer {
      flex-direction: column;
      align-items: center;
   }

   footer .address, .contact{
      width: 75%;
   }

   footer .follow {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}